@layer base {
  * {
    @apply scroll-smooth;

    body {
      margin: 0;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      button,
      input {
        @apply outline-none;
      }
    }
  }
}
