@layer components {
  .onscroll {
    @apply backdrop-blur-lg backdrop-filter;
  }

  .link-contact {
    @apply font-bold hover:text-texthover;
  }

  .gradient {
    @apply bg-gradient-to-r from-pink-500 to-violet-500 bg-clip-text text-transparent dark:from-[#0093E9] dark:to-[#80D0C7];
  }

  .shadow-smooth {
    box-shadow: 0px 0px 40px -23px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 40px -23px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 40px -23px rgba(0, 0, 0, 1);
  }
}
