@tailwind components;

@layer components {
  /* 
   * So, i divide the gradient styles for text into 2 parts, light mode and dark mode. 
   * Why? Because i want to prevent issue "You cannot `@apply` the `dark:bg-green-700` utility here because it creates a circular dependency"
  */

  /* light mode */
  .gradient {
    @apply bg-gradient-to-r from-pink-500 to-blue-500 bg-clip-text text-transparent;
  }

  /* dark mode */
  .gradient-dark {
    @apply bg-gradient-to-r from-blue-500 to-[#80D0C7] bg-clip-text text-transparent;
  }

  .shadow-smooth {
    box-shadow: 0px 0px 40px -23px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 40px -23px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 40px -23px rgba(0, 0, 0, 1);
  }
}
