@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lexend:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply scroll-smooth;
  }

  body {
    @apply font-body m-0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .logo {
    @apply font-logo text-3xl;
  }

  p {
    @apply text-base font-normal;
  }

  .border-onscroll {
    @apply border-b dark:border-b-gray-500 border-b-gray-300;
  }
}

#nprogress {
  @apply pointer-events-none;
}

#nprogress .bar {
  @apply fixed bg-[#F05454] dark:bg-[#2563EB] w-full h-[3px] top-0 left-0 z-50;
}

#nprogress .peg {
  @apply block absolute right-0 w-[100px] h-full opacity-100 shadow-progress;
  transform: rotate(3deg) translate(0px, -4px);
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
}
