#nprogress {
  @apply pointer-events-none;

  .bar {
    @apply fixed bg-[#F05454] dark:bg-[#2563EB] w-full h-[3px] top-0 left-0 z-50;
  }

  .peg {
    @apply block absolute right-0 w-[100px] h-full opacity-100 shadow-progress;
    transform: rotate(3deg) translate(0px, -4px);
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
  }
}
