---
import {
  FacebookIcon,
  FileText,
  GithubIcon,
  InstagramIcon,
  LinkedinIcon,
  MailIcon,
  RssIcon, type LucideIcon
} from "lucide-react";
import { default as Main, default as Transition } from "~components/Main.astro";
import Layout from "~layouts/Layout.astro";
import { tw } from "~lib/utils/tw";

const socialMediaList = [
  { id: 1, icon: FileText, route: "/CV.pdf", title: "CV" },
  { id: 2, icon: MailIcon, route: "mailto:halo@ekel.dev", title: "E-mail" },
  { id: 3, icon: RssIcon, route: "https://ekel.dev/rss.xml", title: "RSS" },
  {
    id: 4,
    icon: FacebookIcon,
    route: "https://facebook.com/kelgfx",
    title: "Facebook",
  },
  {
    id: 5,
    icon: InstagramIcon,
    route: "https://instagram.com/ekel.tsx",
    title: "Instagram",
  },
  {
    id: 6,
    icon: GithubIcon,
    route: "https://github.com/haikelz",
    title: "Github",
  },
  {
    id: 7,
    icon: LinkedinIcon,
    route: "https://www.linkedin.com/in/haikel",
    title: "Linkedin",
  },
];
---

<Layout title="Haikel">
  <Main >
    <section class="flex w-full flex-wrap items-center justify-center">
        <Transition
          transition={{ duration: 0.3 }}
          initial={{ opacity: 0 }}
          animate={{ opacity: 1 }}
          class:list={[
            "flex w-full flex-col items-start justify-start",
            "mb-10",
          ]}
        >
        <div
      class={tw("flex flex-col items-start justify-start", "md:text-start")}
    >
    <h1>Haikel Ilham Hakim</h1>
      <div class="my-4">
        <p>
          An Informatics Engineering student with over 2 years of experience in
          Web Development. Proven ability to collaborate effectively within a
          team environment and deliver numerous Website Projects, both internal
          and Open Source. Seeking to apply and expand skills in a professional
          setting.{" "}
          <b>
            <i>Keep it simple</i>
          </b>
          , is one of my principles while crafting something.
          <br />
          Apart from coding, I do <b>Photography</b> with my camera. Mostly I
          took street photos, nature, historic place, and cosplayer at an event.
          I love this hobby because it gives me many perspective about life, and
          of course, It&#39;s fun.
        </p>
      </div>
      <ul class="flex items-center justify-center space-x-4">
        {socialMediaList.map((item) => {
          const Icon: LucideIcon = item.icon;
          return (
            <li
            
              class="transition-all hover:-translate-y-0.5"
              title={item.title}
              >
              <a href={item.route} target="_blank">
                <button
                  type="button"
                  class={tw("rounded-md", "p-1")}
                  aria-label={`Icon ${item.id.toString()}`}
                >
                  <Icon size={20} />
                </button>
              </a>
            </li>
          );
        })}
      </ul>
    </div>
   <div
      class:list={[
        "flex flex-col items-start justify-start",
        "mt-8 md:text-start w-full"
      ]}
    >
      <h2>Experience</Heading>
      <div class="w-full mt-4 space-y-5">
        <div class="w-full">
          <div class="flex flex-col md:flex-row w-full md:justify-between">
            <div>
              <div class="flex space-x-2 items-center w-fit">
                <h3>Infinite Learning</h3>
                <code
                  class:list={[
                    "rounded-sm px-2 py-0.5 text-sm font-semibold dark:bg-base-1 bg-base-5",
                  
                  ]}
                >
                  Apprenticeship
                </code>
              </div>
              <p class="font-semibold mt-0.5">
                Web Development & UI/UX Design
              </p>
            </div>
            <div>
              <p class="font-semibold text-sm mt-1 md:mt-0">
                Feb 2024 - Jun 2024
              </p>
            </div>
          </div>
          <div class="mt-2">
            <ul class="list-type-disc list-position-outside">
              <li>
                <p>
                  Responsible as a Programmer to do market research, conducted
                  business analysis, performed usability testing, and
                  constructed the Frontend and Backend of the project from
                  scratch using React JS (Frontend) and Express JS (Backend).
                </p>
              </li>
              <li>
                <p>
                  Utilized Typescript as the main programming language for the
                  Frontend side and Docker for isolated build.
                </p>
              </li>
              <li>
                <p>
                  Worked closely with Designer and Project Manager to streamline
                  project workflow.
                </p>
              </li>
              <li>
                <p>
                  Assisted colleagues in troubleshooting JavaScript and React
                  JS-related issues.
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="w-full">
          <div class="flex flex-col md:flex-row w-full md:justify-between">
            <div>
              <div class="flex space-x-2 items-center w-fit">
                <h3 >[Undisclosed]</h3>
                <code
                  class:list={[
                    "rounded-sm px-2 py-0.5 text-sm font-semibold dark:bg-base-1 bg-base-5",
                    
                  ]}
                >
                  Freelance
                </code>
              </div>
              <p class="font-semibold mt-0.5">
                Frontend Web Developer
              </p>
            </div>
            <div>
              <p class="font-semibold mt-1 md:mt-0 text-sm">
                Nov 2023 - Dec 2023
              </p>
            </div>
          </div>
          <div class="mt-2">
            <ul class="list-type-disc list-position-outside">
              <li>
                <p>
                  Responsible for handling, fixing bugs, and developing
                  requested features to the existing dashboard. The dashboard
                  was created using React JS, Tailwind CSS, and Context API.
                </p>
              </li>
              <li>
                <p>
                  Improve the performance of the dashboard and remove unused or
                  redundant code.
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="w-full">
          <div class="flex flex-col md:flex-row w-full md:justify-between">
            <div>
              <div class="flex space-x-2 items-center w-fit">
                <h3 >We Up Indonesia</h3>
                <code
                  class:list={[
                    "rounded-sm px-2 py-0.5 text-sm font-semibold dark:bg-base-1 bg-base-5",
             
                  ]}
                >
                  Contract
                </code>
              </div>
              <p class="font-semibold mt-0.5">
                Frontend Web Developer
              </p>
            </div>
            <div>
              <p class="font-semibold mt-1 md:mt-0 text-sm">
                Oct 2022 - Dec 2022
              </p>
            </div>
          </div>
          <div class="mt-2">
            <ul class="list-type-disc list-position-outside">
              <li>
                <p>
                  Responsible for slicing and building a company profile Website
                  for We Up using Next JS, Typescript, Tailwind CSS, and AOS.
                </p>
              </li>
              <li>
                <p>
                  Implement Atomic Design to the project, making components more
                  manageable and reusable.
                </p>
              </li>
              <li>
                <p>
                  Write documentation about the project and collaborate with
                  other divisions.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
        </TransitionLayout>
      </section>
</Main>
            </Layout>