@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 h-[50vh];
    font-family: var(--font-ibm-serif);
    scrollbar-width: thin;
    scrollbar-color: #f84b3e #d1d5db;
  }

  body::-webkit-scrollbar {
    width: 8px;
  }

  body::-webkit-scrollbar-track {
    @apply bg-gray-300;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-red dark:bg-blue-500;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-ibm-sans);
  }

  .prose pre,
  pre code {
    font-family: var(--font-jetbrains);
  }

  button {
    @apply outline-none;
  }

  [data-rehype-pretty-code-title] {
    @apply rounded-t-sm bg-base-2 px-4 py-2.5 font-medium text-gray-300 dark:bg-base-1;
    font-family: var(--font-jetbrains);
  }

  [data-rehype-pretty-code-title] + pre {
    @apply mt-0 rounded-t-none border-t-0;
  }
}

@layer components {
  /* 
   * So, i divide the gradient styles for text into 2 parts, light mode and dark mode. 
   * Why? Because i want to prevent issue "You cannot `@apply` the `dark:bg-green-700` utility here because it creates a circular dependency"
   */

  /* light mode */
  .gradient {
    @apply bg-gradient-to-r from-pink-500 to-blue-500 bg-clip-text text-transparent;
  }

  /* dark mode */
  .gradient-dark {
    @apply bg-gradient-to-r from-blue-500 to-[#80D0C7] bg-clip-text text-transparent;
  }

  .shadow-smooth {
    box-shadow: 0px 0px 40px -23px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 40px -23px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 40px -23px rgba(0, 0, 0, 1);
  }
}

@layer utilities {
  .prose img {
    @apply w-full rounded-sm;
  }

  .prose video {
    @apply rounded-sm shadow-md dark:shadow-gray-900;
  }

  .prose h1 > a::before,
  .prose h2 > a::before,
  .prose h3 > a::before,
  .prose h4 > a::before,
  .prose h5 > a::before,
  .prose h6 > a::before {
    @apply mr-2 text-[#3B82F6];
  }

  .prose h1 > a::before {
    @apply hover:content-['#'];
  }

  .prose h2 > a::before {
    @apply hover:content-['##'];
  }

  .prose h3 > a::before {
    @apply hover:content-['###'];
  }

  .prose h4 > a::before {
    @apply hover:content-['####'];
  }

  .prose h5 > a::before {
    @apply hover:content-['#####'];
  }

  .prose h6 > a::before {
    @apply hover:content-['######'];
  }
}

/* Switch Theme Button animation configuration */
@keyframes nav {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 100;
  }
}

.switch-theme-nav {
  animation-name: nav;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

@keyframes sakura {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin-sakura {
  animation-name: sakura;
  animation-duration: 13000ms;
  animation-timing-function: cubic-bezier(1, 1, 1, 1);
  animation-iteration-count: infinite;
}
