---
import "../index.css";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body><div
            class:list={[
              "min-h-screen w-full",
              "text-base-0",
              "dark:text-base-5 bg prose prose-gray dark:prose-invert"
            ]}
          >
		  <div class="w-full pt-12 sm:pt-14">
		  		  <slot />
			</div>
			</div>
	</body>
</html>
